<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://unpkg.com/vue@2.2.6"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">    
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" :style="playerHealthBar">     
                    {{ playerWidth/3 }}               
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" :style="monsterHealthBar">
                    {{ monsterWidth/3 }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-show="!newGame">
        <div class="small-12 columns" >
            <button id="start-game" @click="startNewGame()">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-show="newGame">
        <div class="small-12 columns">
            <button id="attack" @click="normalAttack()">ATTACK</button>
            <button id="special-attack" @click="specialAttack()">SPECIAL ATTACK</button>
            <button id="heal" @click="heal()">HEAL</button>
            <button id="give-up" @click="newGame = !newGame">GIVE UP</button>
        </div>
    </section>
    <section class="row log">
        <div class="small-12 columns">            
            <ul>
                <li v-for="item in gameLog">
                    <template v-if="item.player == 'player'">
                        <div class="player-turn">                            
                            <div v-if="item.amount < 0">
                                Player hits Monster for {{ item.amount * -1 }} 
                            </div>
                            <div v-else>
                                Player heals for {{ item.amount }}
                            </div>                            
                        </div>
                    </template>
                    <template v-else>
                        <div class="monster-turn">
                            Monster hits Player for {{ item.amount * -1 }}
                        </div>
                    </template>
                    
                </li>
            </ul>
        </div>
    </section>
</div>
</body>
</html>

<script>
    new Vue({
    el: '#app',
    data: {        
        newGame: false, 
        gameLog: [],  
        playerWidth: 300,                
        monsterWidth: 300,                
        playerHealthBar: {          
          width: '300px',
          backgroundColor: 'green',
          margin: '0',
          color: 'white'          
        },
        monsterHealthBar: {
          width: '300px',
          backgroundColor: 'green',
          margin: 0,
          color: 'white'
        }
    },
    methods: {
        startNewGame: function(){
            this.newGame = !this.newGame
            this.monsterWidth = 300
            this.playerWidth = 300
            this.playerHealthBar.width = this.playerWidth + 'px'  
            this.monsterHealthBar.width = this.monsterWidth + 'px'
            this.gameLog = []
        },
        normalAttack: function(){
            this.attack('player', 1)
            this.attack('monster', 1)            
        },
        specialAttack: function(){
            this.attack('player', 2)
            this.attack('monster', 2)            
        },        
        attack: function(ply, multiplier) {   
            var dmgDealt = Math.round(Math.random()*10*multiplier*-1)                       
            //splice is used to reverse the order of pushing items into the array                                 
            this.gameLog.splice(0,0,{
                player: ply,                
                amount: dmgDealt
            })
            if (ply=='monster'){
                this.updatePlayerBar(dmgDealt)
            } else {
                this.updateMonsterBar(dmgDealt)
            }            
        },
        heal: function(){
            var dmgHealed = Math.round(Math.random()*10*1.5)                       
            this.gameLog.splice(0,0,{
                player: 'player',                
                amount: dmgHealed          
            })
            this.updatePlayerBar(dmgHealed)            
            this.attack('monster', 1)  
        },
        updatePlayerBar: function(amount){
            this.playerWidth += amount*3
            this.playerHealthBar.width = this.playerWidth + 'px' 
            if (this.playerWidth <= 0){
                alert("You lose!")
                this.newGame = !this.newGame
            }      
        },
        updateMonsterBar: function(amount){
            this.monsterWidth += amount*3
            this.monsterHealthBar.width = this.monsterWidth + 'px'      
            if (this.monsterWidth <= 0){
                alert("You WIN!")
                this.newGame = !this.newGame
            }
        }
    }
});

</script>