<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://unpkg.com/vue@2.2.6"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">    
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div class="healthbar text-center" :style="playerHealthBar">     
                    {{ playerWidth/3 }}               
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div class="healthbar text-center" :style="monsterHealthBar">
                    {{ monsterWidth/3 }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-show="!newGame">
        <div class="small-12 columns" >
            <button id="start-game" @click="startNewGame()">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-show="newGame">
        <div class="small-12 columns">
            <button id="attack" @click="normalAttack()">ATTACK</button>
            <button id="special-attack" @click="specialAttack()">SPECIAL ATTACK</button>
            <button id="heal" @click="heal()">HEAL</button>
            <button id="give-up" @click="newGame = !newGame">GIVE UP</button>
        </div>
    </section>
    <section class="row log">
        <div class="small-12 columns">            
            <ul>
                <li v-for="item in gameLog">
                    <template v-if="item.player == 'player'">
                        <div class="player-turn">                            
                            <div v-if="item.amount < 0">
                                Player hits Monster for {{ item.amount * -1 }} 
                            </div>
                            <div v-else>
                                Player heals for {{ item.amount }}
                            </div>                            
                        </div>
                    </template>
                    <template v-else>
                        <div class="monster-turn">
                            Monster hits Player for {{ item.amount * -1 }}
                        </div>
                    </template>
                    
                </li>
            </ul>
        </div>
    </section>
</div>
</body>
</html>

